*~
result
.direnv
/ansible/home-network.yaml
/.idea/
/.claude/
/ansible/ext-roles/
/terraform/.terraform/
/terraform/.terraform.lock.hcl
/terraform/.terraform.tfstate.lock.info
*.backup
/ansible/ext-collections/
/.beads/.local_version
/.ansible/
/ansible/.ansible/
