[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/nixos/nixpkgs
[submodule "nixpkgs-master"]
	path = nixpkgs-master
	url = https://github.com/nixos/nixpkgs
[submodule "overlay/nixpkgs-mozilla"]
	path = overlay/nixpkgs-mozilla
	url = https://github.com/mozilla/nixpkgs-mozilla
[submodule "nixpkgs-proposed"]
	path = nixpkgs-proposed
	url = https://github.com/binarin/nixpkgs
[submodule "home-manager"]
	path = home-manager
	url = https://github.com/rycee/home-manager
[submodule "taffybar"]
	path = taffybar
	url = https://github.com/taffybar/taffybar
[submodule "overlay/emacs-overlay"]
	path = overlay/emacs-overlay
	url = https://github.com/nix-community/emacs-overlay
