[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/nixos/nixpkgs
[submodule "nixpkgs-master"]
	path = nixpkgs-master
	url = https://github.com/nixos/nixpkgs
[submodule "overlay/nixpkgs-mozilla"]
	path = overlay/nixpkgs-mozilla
	url = https://github.com/mozilla/nixpkgs-mozilla
