---
- name: Enable non-free-firmware for debian
  register: debian_non_free_firmware_repo_1
  ansible.builtin.apt_repository:
    filename: debian-non-free-firmware
    repo: "deb http://deb.debian.org/debian {{ ansible_facts.distribution_release }} non-free-firmware"
    update_cache: false
- name: Enable non-free-firmware for debian-updates
  register: debian_non_free_firmware_repo_2
  ansible.builtin.apt_repository:
    filename: debian-non-free-firmware
    repo: "deb http://deb.debian.org/debian {{ ansible_facts.distribution_release }}-updates non-free-firmware"
    update_cache: false
- name: Enable non-free-firmware for debian-security
  register: debian_non_free_firmware_repo_3
  ansible.builtin.apt_repository:
    filename: debian-non-free-firmware
    repo: "deb http://security.debian.org/debian-security {{ ansible_facts.distribution_release }}-security non-free-firmware"
    update_cache: false
- name: Refresh apt-cache
  when: debian_non_free_firmware_repo_2.changed or debian_non_free_firmware_repo_2.changed or debian_non_free_firmware_repo_3.changed
  ansible.builtin.apt:
    update_cache: true
