---
- name: Install sanoid
  ansible.builtin.package:
    state: present
    name: sanoid
- name: Create sanoid config directory
  ansible.builtin.file:
    path: /etc/sanoid
    state: directory
    mode: '0755'
    owner: root
    group: root
- name: Copy sanoid config
  ansible.builtin.copy:
    src: "{{ inventory_hostname }}-sanoid.conf"
    dest: /etc/sanoid/sanoid.conf
    mode: '0644'
