- name: Install packages to use SSH key in tpm 2.0
  package:
    state: present
    name:
      - libtpm2-pkcs11-tools
      - libtpm2-pkcs11-1

- name: Use SSH key from tpm 2.0 by default
  copy:
    content: |
      Host *
        PKCS11Provider /usr/lib/x86_64-linux-gnu/pkcs11/libtpm2_pkcs11.so
    dest: /etc/ssh/ssh_config.d/enable-tpm2-pkcs11.conf
    mode: '0644'
    owner: root

- name: Ensure directory for pvedaemon.service overrides
  ansible.builtin.file:
    path: /etc/systemd/system/pvedaemon.service.d
    state: directory
    mode: '0755'

- name: Inject HOME into pvedaemon.service (needed for libtpm2_pkcs11)
  register: home_for_pvedaemon
  ansible.builtin.copy:
    content: |
      [Service]
      Environment="HOME=/root"
    dest: /etc/systemd/system/pvedaemon.service.d/override.conf
    mode: '0644'
    owner: root

- name: Restart pvedaemon.service
  when: home_for_pvedaemon.changed
  ansible.builtin.systemd_service:
    name: pvedaemon
    daemon_reload: true
    state: restarted
