---
- hosts:
    - pbs
    - pve
  tags:
    - etckeeper
  tasks:
    - import_tasks: tasks/etckeeper.yml

- hosts: qdevices
  tags:
    - sshd
  vars_files:
    - ../../ssh-public-keys.yaml
  vars:
    sshd_root_principals:
      - qdevice
  roles:
    - sshd
  tasks:
    - name: Install corosync-qnetd
      ansible.builtin.apt:
        name:
          - corosync-qnetd

- hosts: pve
  tags:
    - sshd
  vars_files:
    - ../../ssh-public-keys.yaml
  vars:
    sshd_root_principals:
      - pve
  roles:
    - sshd
  tasks:
    - import_tasks: tasks/tpm2-ssh.yml

- hosts: pve
  tags:
    - monitoring
  vars_files:
    - vars/main.yml

  roles:
    - victoriametrics.cluster.vmagent
    - prometheus.prometheus.node_exporter
    - aroberts.zfs_exporter

- hosts: pve
  vars_files:
    - vars/main.yml
  tasks:
    - import_tasks: tasks/no-nag.yml
    - import_tasks: tasks/empty-systctl-conf.yml
    - import_tasks: tasks/tailscale-docker.yml
    - import_tasks: tasks/tailscale.yml
    - import_tasks: tasks/sanoid.yml
    - name: Install corosync-qdevice
      ansible.builtin.apt:
        name: corosync-qdevice

- hosts: pve
  tags:
    - hardware
  tasks:
    - include_tasks: tasks/debian-non-free-firmware.yml
    - name: Install amd firmware
      when: "'AuthenticAMD' in ansible_facts['processor']"
      ansible.builtin.apt:
        name: amd64-microcode
    - name: Install intel firmware
      when: "'GenuineIntel' in ansible_facts['processor']"
      ansible.builtin.apt:
        name: intel-microcode

- hosts: pve_at_home
  vars_files:
    - ../../ip-allocation.yaml
  tasks:
    - import_tasks: tasks/tailscale-hosts.yml

- hosts: bael
  tasks:
    - import_tasks: tasks/backup-raum-to-bael.yml
