---
- hosts: qdevices
  tags:
    - sshd
  vars_files:
    - ../../ssh-public-keys.yaml
  vars:
    sshd_root_principals:
      - qdevice
  roles:
    - sshd
  tasks:
    - name: Install corosync-qnetd
      ansible.builtin.apt:
        name:
          - corosync-qnetd

- hosts: pve
  tags:
    - sshd
  vars_files:
    - ../../ssh-public-keys.yaml
  vars:
    sshd_root_principals:
      - pve
  roles:
    - sshd
  tasks:
    - import_tasks: tasks/tpm2-ssh.yml

- hosts: pve
  vars_files:
    - vars/main.yml

  roles:
    - victoriametrics.cluster.vmagent
    - prometheus.prometheus.node_exporter
    - aroberts.zfs_exporter

  tasks:
    - import_tasks: tasks/sanoid.yml
    - import_tasks: tasks/tailscale-docker.yml

- hosts: pve
  tasks:
    - name: Install corosync-qdevice
      ansible.builtin.apt:
        name: corosync-qdevice

- hosts: pve_at_home
  vars_files:
    - ../../ip-allocation.yaml
  tasks:
    - import_tasks: tasks/tailscale-hosts.yml

- hosts: bael
  tasks:
    - import_tasks: tasks/backup-raum-to-bael.yml
