[Desktop Entry]
Name=smart-browser-chooser
Exec=sh -c "exec ~/.rc/open-link.sh %u"
Type=Application
Terminal=false
Categories=System;
MimeType=x-scheme-handler/viber;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;text/html;application/x-extension-htm;application/x-extension-html;application/x-extension-shtml;application/xhtml+xml;application/x-extension-xhtml;application/x-extension-xht
