@import "./base16-zenburn.css";
#waybar {
    background: @base01;
}

#workspaces {
    padding: 0px 20px 0px 0px;
}

#window {
    color: @base05;
    font-size: 20px;
}

#workspaces button {
    background: @base01;
    color: @base05;
    border-radius: 0px;
    padding: 0px 8px;
}

#workspaces button.focused {
    background: @base02;
}

#workspaces button.urgent {
    background: red;
}

#clock {
    font-size: 20px;
    font-family: mono;
    background: @base01;
    color: @base05;
    padding: 0 10px;
}

#pulseaudio {
    background: @base02;
    color: @base0A;
    padding: 0 20px;
    margin: 2px 4px;
    min-width: 50px;
    border-radius: 4px;
    font-size: 20px;
}

#idle_inhibitor {
    font-size: 20px;
    padding: 0 20px;
    border-radius: 4px;
    background: @base02;
    min-width: 30px;
    margin: 2px 4px;
    color: @base0A;
}

#mode {
    color: @base0E;
    font-size: 20px;
    background: @base02;
    margin: 2px 4px;
    border-radius: 4px;
    padding: 0 20px;
}

#custom-notification {
    font-size: 20px;
    font-family: "NotoSansMono Nerd Font";
    background: @base01;
    color: @base05;
    padding: 0 10px;
}
