:root, body, * {
    color-scheme: dark !important;
    --tab-selected-bgcolor: var(--zenburn_blue_minus_5) !important;
    --toolbar-color: var(--zenburn_fg) !important;
    --toolbar-bgcolor: var(--zenburn_bg) !important;
    --tabpanel-background-color: var(--zenburn_bg) !important;
    --global-border-radius: 10px !important;
    --toolbarbutton-border-radius: var(--global-border-radius) !important;
    --tab-hover-background-color: var(--zenburn_blue_minus_4) !important;
    --border-radius-medium: var(--global-border-radius) !important;

}

#main-window {
    & #tabbrowser-tabpanels browser[type] {
        margin: 5px !important; /* don't intrude with outline into other things */
        border-radius: var(--global-border-radius) !important;
        outline: 5px solid var(--toolbar-bgcolor) !important; /* hide corners of the content, under the outline */

    }
    & #tabbrowser-tabbox {
        outline: 0px !important;
        box-shadow: none !important;
    }
}

.tab-background {
    background: var(--zenburn_bg_minus_05) !important;
    box-shadow: none !important;
}

.findbar-textbox {
    border-radius: var(--global-border-radius) !important;
}
