# {{ ansible_managed }}

# Operators
{%+ for key, value in ssh_keys.items() %}
{% if ('operator' in value and value.operator and value.secure) %}
{{ value.public_key }} {{ value.name }}
{% endif %}
{% endfor %}

# Operators
{%+ for key, value in ssh_keys.items() %}
{% if ('force_install_on' in value and inventory_hostname in value.force_install_on) %}
{{ value.public_key }} {{ value.name }}
{% endif %}
{% endfor %}
